<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Forgot Password</title>
    <link rel="stylesheet" href="/stylesheets/adminAuth.css">
</head>
<body>
    <main class="admin-auth-container">
        <div class="auth-box">
            <h2>Forgot Password</h2>
            <form action="/admin/forgot" method="POST">
                <input type="email" name="email" placeholder="Enter your admin email" required>
                <button type="submit">Send Verification Email</button>
            </form>
        </div>
    </main>
</body>
</html>
