<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="/stylesheets/inAndUp.css">
</head>

<body>
    <main>
        <div class="all">
            <form action="/signup" method="post">
                <input type="text" name="name" placeholder="Enter Your Name" autocomplete="name">
                <input type="email" name="email" placeholder="Enter Your Email" autocomplete="email">
                <input type="password" name="password" placeholder="Enter Password" autocomplete="new-password">
                <button type="submit">Sign Up</button>
            </form>
            <div>
                <p>if you have account then click</p>
                <a href="/signin">Sing In</a>
            </div>
        </div>
    </main>
</body>

</html>