<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/inAndUp.css">
</head>

<body>
    <main>
        <div class="all">
            <form action="/signin" method="post">
                <input type="email" name="email" placeholder="email" autocomplete="email">
                <input type="password" name="password" placeholder="password" autocomplete="current-password">
                <button type="submit">Sing In</button>
            </form>
            <div>
                <p>if you don't have any accout then click</p>
                <a href="/signup">Sign Up</a>
            </div>
        </div>
    </main>
</body>

</html>