* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.all{
    gap: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(68, 67, 67);
    padding: 13% 8%;
    border-radius: 50px;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
form input{
    width: 25rem;
    padding: 3% 15%;
    border: none;
    border-bottom: 1px solid chartreuse;
    border-radius: 5px;
    font-size: 130%;
    outline-color: chartreuse;
    background-color: transparent;
    outline-width: 0.1px;
}
form input::placeholder{
    color: chartreuse;
}
form button{
    width: 10rem;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;

}
form button:hover{
    box-shadow: 2px 2px 5px chartreuse;
    transform: scale(1.0);
    transition: 0.3s;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
main div p{
    color: white;
}
main div a{
    text-decoration: none;
    color: lightskyblue;
}